SYSTEM = __SYSTEM__ dos
ISTART = 0
ICHARG = 11
PREC = Accurate
ENCUT = __ENCUT__
EDIFF = 1E-7
IBRION = -1
NSW = 0
NELM = 120
NELMIN = 6
ALGO = Normal
LREAL = .FALSE.
ADDGRID = .TRUE.
LORBIT = 11
NEDOS = 3000
LWAVE = .FALSE.
LCHARG = .FALSE.
