SYSTEM = isolated atom
ISTART = 0
ICHARG = 2
PREC = Accurate
ENCUT = __ENCUT__
EDIFF = 1E-6
ISPIN = 2
MAGMOM = __ATOM_MAGMOM__
ISMEAR = 0
SIGMA = 0.05
IBRION = -1
NSW = 0
NELM = 120
ALGO = Normal
ISYM = 0
LREAL = .FALSE.
ADDGRID = .TRUE.
LWAVE = .FALSE.
LCHARG = .FALSE.
GGA = PE
