SYSTEM = __SYSTEM__ charge
ISTART = 0
ICHARG = 2
PREC = Accurate
ENCUT = __ENCUT__
EDIFF = 1E-7
IBRION = -1
NSW = 0
NELM = 120
ALGO = Normal
LREAL = .FALSE.
ADDGRID = .TRUE.
LAECHG = .TRUE.
LCHARG = .TRUE.
LWAVE = .TRUE.
LVHAR = .TRUE.
