SYSTEM = __SYSTEM__ elastic
ISTART = 0
ICHARG = 2
PREC = Accurate
ENCUT = __ENCUT__
EDIFF = 1E-7
NELM = 120
IBRION = 6
ISIF = 3
NFREE = 4
NSW = 1
ALGO = Normal
LREAL = .FALSE.
ADDGRID = .TRUE.
LWAVE = .FALSE.
LCHARG = .FALSE.
