SYSTEM = __SYSTEM__ converge
ISTART = 0
ICHARG = 2
PREC = Accurate
ENCUT = __ENCUT__
EDIFF = 1E-7
IBRION = -1
NSW = 0
NELM = 120
NELMIN = 6
ALGO = Normal
LREAL = .FALSE.
ADDGRID = .TRUE.
LWAVE = .FALSE.
LCHARG = .FALSE.
